body {
  background: #081b29;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #0ef;
  font-size: 30px;
}

.brand {
  color: #0ef;
}

.name {
  color: #0ef;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #0ef;
  margin: 20px auto;
  display: block;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  background: #0ef;
  text-decoration: none;
  border-radius: 10px;
}
