body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  background: linear-gradient(160deg, #0a0f2c, #021d3d);
  text-align: center;
}

header {
  padding: 20px;
  text-align: left;
}

.logo {
  color: #007bff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  border: 4px solid #007bff;
  box-shadow: 0 0 20px #007bff;
}

h2 {
  font-size: 28px;
}

.blue {
  color: #007bff;
}

p {
  max-width: 300px;
  margin: 0 auto 20px;
  font-size: 15px;
  line-height: 1.5;
  color: #ccc;
}

.btn {
  display: inline-block;
  padding: 10px
